<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="header">
            <div style="background-color: cyan; width:100%">
            共通ヘッダー
            </div>
        </div>
        
        <div th:fragment="footer">
            <div style="color:white; background-color: brown; width:100%">
            共通フッター
            </div>
        </div>
    </body>
</html>
