<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Tymeleaf3</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:replace="common/layout.html :: header">HEADER</div>
        
        <h1>Comment Form</h1>
                
        <form th:action="@{/webresources/validation/submit}" method="POST">
            NAME: <input type="text" name="name"/> <br/>
            COMMENT: <br/>
            <textarea name="comment"></textarea> <br/>
            <input type="submit"/>
            <input type="hidden" th:name="${mvc.csrf.name}" th:value="${mvc.csrf.token}"/>
        </form>
        
        <div th:replace="common/layout.html :: footer">FOOTER</div>
    </body>
</html>
