<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Tymeleaf3</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace="common/layout.html :: header">HEADER</div>
        
        <h1>Hello Tymeleaf3 + MVC1.0</h1>
        <div><span th:text="#{hello}">HELLO</span> [[${helloBean.name}]]</div>
        
        <div th:replace="common/layout.html :: footer">FOOTER</div>
    </body>
</html>
